extends layout

block content

	.header-image
	img(src='images/logo.png', alt='logo')
	h2= title
	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	p Welcome to BBQ Amigo
	each val in jsonx
		li
			a(href="/eventList/#{val.key}")= val.key

