extends layout

block content
	.header-image
	img(src='images/logo.png', alt='logo')
	h2= title
	p Welcome to BBQ Amigo
	each val in jsonx
		li
			a(href="/eventList/#{val.key}")= val.key
  	footer
    	p
      	| Copyright © 2014 Denis, Esther, Ivan.
      	| Site Designed by Denis, Esther, Ivan.

